<header class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-0 d-sm-none col-md-4 d-md-flex height_logo">
          <img src="./../../../assets/img/logo.png" alt="logo_1" />
        </div>
        <div class="col-0 d-none col-sm-4 d-sm-flex col-md-0 d-md-none height_logo">
          <img src="./../../../assets/img/logo-sm.png" alt="logo_2"/>
        </div>
        <div class="col-12 col-sm-8 d-flex flex-row justify-content-center justify-content-sm-end align-items-center">
          
          
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">How it works</a></li>
          </ul>

          <div class="tell"></div>
          <button class="button_one">Sign in</button>
          <button class="button_two">Order</button>
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
</header>
